@model PortalProject.Web.Areas.Admin.Models.NewsModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Haber Ekle</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("NewsAdd", "News", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label>Görsel (1920 x 600 px)</label>
                                <input type="file" name="Photo" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>Durum</label>
                                <select name="Active" class="form-control">
                                    <option value="1">Aktif</option>
                                    <option value="0">Pasif</option>
                                </select>
                            </div>

                            <input type="submit" class="btn btn-default" value="Kaydet" />
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Başlık</label>
                                <input name="Title" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Tarih</label>
                                <input name="Date" placeholder="Örn: 25.01.2016" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Oluşturan</label>
                                <input name="Creator" class="form-control" placeholder="Örn: Abdurrahman GÜREL" required>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
