@model PortalProject.Web.Models.GalleryModel

@{
    ViewBag.Title = "Galeri | " + ViewBag.Setting.Title;
}

<!-- MAIN TITLE -->
<div class="main-title">
    <div class="container">
        <h1 class="main-title__primary">Galeri</h1>
    </div>
</div><!-- /.main-title -->
<!-- BREADCRUMBS -->
<div class="breadcrumbs">
    <div class="container">
        <span>
            <a class="home" href="/" title="Anasayfaya Dön" rel="v:url">Anasayfa</a>
        </span>
        <span>
            <span>Galeri</span>
        </span>
    </div>
</div><!-- /.breadcrumbs -->

<div class="container">

    <div class="row margin-bottom-30">

        @foreach (var item in Model.GalleryAlbumList)
        {
            <div class="col-sm-4 margin-bottom-30">

                <h3>
                    <a href="/galeri/@item.SeoUrl/@item.Id"><img alt="placeholder" src="~/Content/@item.Photo" class="alignnone"></a>
                </h3>
                <h4 class="subLight">
                    @item.Title
                </h4>

            </div><!-- /.col -->
        }

    </div><!-- /.row -->

</div><!-- /.container -->