@model PortalProject.Web.Models.GalleryModel

@{
    ViewBag.Title = Model.GalleryAlbum.Title + " | " + ViewBag.Setting.Title;
}

<!-- MAIN TITLE -->
<div class="main-title">
    <div class="container">
        <h1 class="main-title__primary">@Model.GalleryAlbum.Title</h1>
    </div>
</div><!-- /.main-title -->
<!-- BREADCRUMBS -->
<div class="breadcrumbs">
    <div class="container">
        <span>
            <a class="home" href="/" title="Anasayfaya Dön" rel="v:url">Anasayfa</a>
        </span>
        <span>
            <a href="/galeri" title="Albümlere Dön" rel="v:url">Galeri</a>
        </span>
        <span>
            <span>@Model.GalleryAlbum.Title</span>
        </span>
    </div>
</div><!-- /.breadcrumbs -->

<div class="container">

    <div class="row margin-bottom-60">

        <div class="col-sm-12">

            <div class="widget_black-studio-tinymce">

                <div class="gallery gallery-columns-3 gallery-size-medium">
                    @foreach (var item in Model.GalleryList)
                    {
                        <figure class="gallery-item">
                            <a href="~/Content/@item.Photo">
                                <img alt="placeholder" src="~/Content/@item.Photo">
                            </a>
                        </figure>
                    }

                </div><!-- /.gallery -->

            </div><!-- /.widget_black-studio-tinymce -->

        </div><!-- /.col -->

    </div><!-- /.row -->

</div><!-- /.container -->

